@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>La solicitud de usted se encuentra pendiente , espere a que algún administrador le de permiso. Perdona 
    las molestias.
</h1>
